subl3/User/Package Control.last-run
subl3/User/Package Control.ca-list
subl3/User/Package Control.ca-bundle
subl3/User/Package Control.system-ca-bundle
subl3/User/Package Control.cache/
subl3/User/Package Control.ca-certs/
subl3/User/encoding_cache.json
